$bpMap: (
    'tiny': 360px,
    'small': 480px,
    'medium': 768px,
    'large': 960px,
    'huge': 1200px,
    'full': 1440px
);

$colorMap: (
    'bg-dark': hsl(226,51%,8%),
    'bg': hsl(222,47%,11%),
    'panel': hsl(221,39%,11%),
    'muted': hsl(218,11%,65%),
    'text': hsl(220,13%,91%),
    'light': hsl(0,0%,100%),
    'dark': hsl(0,0%,0%),
    'accent': hsl(239,84%,67%),
    'ok': hsl(142,71%,45%),
    'err': hsl(0,84%,60%),
    'shadow': '0 10px 25px hsla(0,0%,0%,.35)'
);

$prismMap: (
    'text': _config($colorMap, 'text'),
    'shadow': _config($colorMap, 'dark', .35),
    'background': _config($colorMap, 'light'),
    'scrollbar-color': _config($colorMap, 'bg') _config($colorMap, 'bg-dark'),
    'gray': hsl(210,15%,57%),
    'green': hsl(80,76%,53%),
    'blue': hsl(190,81%,67%),
    'purple': hsl(261,100%,75%),
    'red': hsl(338,95%,56%),
    'orange': hsl(32,98%,56%),
    'yellow': hsl(54,70%,68%)
);

$iconMap: (
    'json': '\e907',
    'javascript': '\e908',
    'github': '\e906',
    'html5': '\e900',
    'css3': '\e901',
    'sass': '\e902',
    'steam': '\e903',
    'instagram': '\e904',
    'x': '\e905',
    'twitter': '\ea96',
    'paypal': '\ead8',
    'file-empty': '\e924',
    'file-text': '\e926',
    'file-picture': '\e927',
    'file-music': '\e928',
    'folder': '\e92f',
    'folder-open': '\e930',
    'folder-plus': '\e931',
    'folder-minus': '\e932',
    'folder-download': '\e933',
    'folder-upload': '\e934',
    'stopwatch': '\e952',
    'download': '\e960',
    'undo': '\e967',
    'quotes-left': '\e977',
    'quotes-right': '\e978',
    'spinner': '\e984',
    'cog': '\e994',
    'stats-dots': '\e99b',
    'warning': '\ea07',
    'notification': '\ea08',
    'question': '\ea09',
    'info': '\ea0c',
    'cancel': '\ea0d',
    'blocked': '\ea0e',
    'cross': '\ea0f',
    'checkmark': '\ea10',
    'volume-mute': '\ea29',
    'volume-mute2': '\ea2a',
    'volume-decrease': '\ea2c',
    'volume-increase': '\ea2b',
    'volume-low': '\ea28',
    'volume-medium': '\ea27',
    'volume-high': '\ea26',
    'loop': '\ea2d',
    'shuffle': '\ea30',
    'play': '\ea1c',
    'pause': '\ea1d',
    'stop': '\ea1e',
    'backward': '\ea1f',
    'forward': '\ea20',
    'previous': '\ea23',
    'next': '\ea24',
    'first': '\ea21',
    'last': '\ea22',
    'play-circle': '\ea15',
    'pause-circle': '\ea16',
    'stop-circle': '\ea17',
    'previous-circle': '\ea18',
    'next-circle': '\ea19',
    'backward-circle': '\ea1a',
    'forward-circle': '\ea1b',
    'checkbox-unchecked': '\ea52',
    'checkbox-checked': '\ea53',
    'radio-unchecked': '\ea56',
    'radio-checked': '\ea54',
    'radio-checked2': '\ea55',
    'embed': '\ea80'
);

