* {
    box-sizing: border-box;
}

:root {
    color-scheme: dark;
}

html, body {
    height: 100%;
    margin: 0;
    background: _config($colorMap, 'bg');
    color: _config($colorMap, 'text');
    font: 16px/1.5 system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji","Segoe UI Emoji";
}

body {
    overflow-x: hidden;
    &::selection {
        background: _config($colorMap, 'accent');
        color: _config($colorMap, 'light');
    }
}

section {
    max-width: inherit;
}

code {
    background: _config($colorMap, 'light', .06);
    padding: .15rem .35rem;
    border-radius: 6px;
}

label,
input[type="checkbox"],
select {
    cursor: pointer;
    accent-color: _config($colorMap, 'accent');
}