@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.woff?z02j9q') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon-color {
    &.icon-javascript:before {
        color: hsl(53,93%,54%);
    }
    &.icon-html5:before {
        color: hsl(13,77%,52%);
    }
    &.icon-css3:before {
        color: hsl(205,79%,40%);
    }
    &.icon-sass:before {
        color: hsl(330,50%,60%);
    }
    &.icon-instagram:before {
        color: hsl(349,75%,57%);
    }
}

$icon-gap: .4em;
@mixin icon-styles($icon) {
    display: inline-block;
    content: _config($iconMap, $icon);
    margin-right: $icon-gap;
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin _icon($icon, $elm: default, $pos: left) {
    @if $elm == default {
        &:not(.icon-after) {
            &::before {
                @include icon-styles($icon);
            }
        }
        &.icon-after {
            &::after {
                @include icon-styles($icon);
            }
        }
        &.icon-right {
            &::before {
                float: right;
                margin-left: $icon-gap;
                margin-right: unset;
            }
        }
    } @else {
        @if $elm == before {
            &::before {
                @include icon-styles($icon);
            }
        }
        @if $elm == after {
            &::after {
                @include icon-styles($icon);
            }
        }
        @if $pos == left {
            float: left;
            margin-right: $icon-gap;
        }
        @if $pos == right {
            float: right;
            margin-left: $icon-gap;
        }
    }
}

@mixin _icon-content($icon, $elm: before) {
    @if $elm == before {
        &::before {
            content: _config($iconMap, $icon);
        }
    }
    @if $elm == after {
        &::after {
            content: _config($iconMap, $icon);
        }
    }
}

@each $item, $value in $iconMap {
    .icon-#{$item} {
        @include _icon($item);
    }
}