#popup.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: _config($colorMap, dark, .45);
        z-index: -1;
    }
    .popup-content {
        position: relative;
        width: 75vw;
        max-width: 800px;
        height: 75vh;
        max-height: 650px;
        background: _config($colorMap, bg);
        border: 1px solid _config($colorMap, 'light', .06);
        border-radius: 16px;
        box-shadow: _config($colorMap, 'shadow');
        .popup-closer {
            @include _title('Popup schließen');
            position: absolute;
            top: 0;
            right: 0;
            margin: .75rem;
            opacity: 1;
            cursor: pointer;
            transition: opacity .2s ease;
            &::before {
                margin-right: unset;
                transition: color .2s ease;
            }
            &:hover,
            &:focus {
                &::before {
                    color: _config($colorMap, 'text', .5);
                }
            }
        }
    }
}