/* PrismJS 1.30.0
https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript+json+json5+sass+scss */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
	color: _config($prismMap, 'text');
	background: none;
	text-shadow: 0 1px _config($prismMap, 'shadow');
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
    &::selection {
        background: _config($colorMap, 'light');
        color: _config($colorMap, 'bg-dark');
    }
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: _config($prismMap, 'background', .06);
    overflow: auto;
    max-width: 100%;
    scrollbar-color: _config($prismMap, 'scrollbar-color');
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: _config($prismMap, 'gray');
}

.token.punctuation {
	color: _config($prismMap, 'text');
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: _config($prismMap, 'red');
}

.token.boolean,
.token.number {
	color: _config($prismMap, 'purple');
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: _config($prismMap, 'green');
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: _config($prismMap, 'text');
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: _config($prismMap, 'yellow');
}

.token.keyword {
	color: _config($prismMap, 'blue');
}

.token.regex,
.token.important {
	color: _config($prismMap, 'orange');
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}